<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/" class="navbar-brand">Railway</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'AWS Buckets', aws_info_view_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>