<div class="row">
  <div class="col">
    <table class="table">
      <thead>
      <tr>
        <th>name</th>
        <th>size</th>
      </tr>
      </thead>
      <tbody>
      <% @bucket.objects.each do |object| %>
      <tr>
        <td>
          <%= link_to object.key, @bucket.url + '/' + object.key, target: '_blank' %>
        </td>
        <td>
          <%= object.size %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>